<div class="space-container">
  <div class="auth-form">
    <form nz-form (ngSubmit)="submitForm()" [formGroup]="registerForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="username">
          Username
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The username is required!"
        >
          <input nz-input formControlName="username" id="username" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="password" nzRequired>
          Password
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input your password!"
        >
          <nz-input-group [nzSuffix]="suffixPasswordTemplate">
            <input
              nz-input
              [type]="passwordVisible ? 'text' : 'password'"
              id="password"
              formControlName="password"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-input-group>
          <ng-template #suffixPasswordTemplate>
            <i
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="checkPassword" nzRequired>
          Confirm Password
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
          <nz-input-group [nzSuffix]="suffixConfirmPasswordTemplate">
            <input
              nz-input
              [type]="checkPasswordVisible ? 'text' : 'password'"
              formControlName="checkPassword"
              id="checkPassword"
            />
          </nz-input-group>
          <ng-template #suffixConfirmPasswordTemplate>
            <i
              nz-icon
              [nzType]="checkPasswordVisible ? 'eye-invisible' : 'eye'"
              (click)="checkPasswordVisible = !checkPasswordVisible"
            ></i>
          </ng-template>

          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please confirm your password!
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Two passwords that you enter is inconsistent!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="8"
          [nzXs]="24"
          nzFor="email"
          nzTooltipTitle="Your contact email address"
        >
          <span>Email</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please enter a valid e-mail!"
        >
          <input nz-input id="email" formControlName="email" />
        </nz-form-control>
      </nz-form-item>
      <div style="display: flex; justify-content: center">
        <div>
          <a routerLink="/auth/login">Back to Login</a>
        </div>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzOffset]="6">
            <button nz-button nzType="primary">Register</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
</div>
