<div>
  <nz-page-header
    class="site-page-header"
    [nzTitle]="username"
    nzSubtitle="Edit"
    (nzBack)="onBack()"
    nzBackIcon
  >
  </nz-page-header>

  <nz-row>
    <nz-col nzSpan="12">
      <form nz-form [formGroup]="updateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username"
            >Username</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="username" id="username" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email"
            >E-mail</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="The input is not valid E-mail!"
          >
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSm]="6"
            [nzXs]="24"
            nzFor="account"
            nzTooltipTitle="What do you want other to call you"
          >
            <span>Account name</span>
          </nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Please input your account!"
          >
            <input nz-input id="account" formControlName="account" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="update-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Update</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-col>
    <nz-col nzSpan="12">
      <form
        nz-form
        [formGroup]="changePassForm"
        (ngSubmit)="submitChangePassForm()"
      >
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>
            Password
          </nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Please enter your password!"
          >
            <input
              nz-input
              type="password"
              id="password"
              formControlName="password"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSm]="6"
            [nzXs]="24"
            nzFor="checkPassword"
            nzRequired
          >
            Confirm Password
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input
              nz-input
              type="password"
              formControlName="checkPassword"
              id="checkPassword"
            />
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please confirm your password!</ng-container
              >
              <ng-container *ngIf="control.hasError('confirm')">
                Two passwords that you enter is inconsistent!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="newPassword" nzRequired>
            New Password
          </nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            [nzErrorTip]="errorNewPasswordTpl"
          >
            <input
              nz-input
              type="password"
              formControlName="newPassword"
              id="newPassword"
              nzRequired
            />
            <ng-template #errorNewPasswordTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please enter your new password!</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row class="update-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Change</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-col>
  </nz-row>
</div>
